numpy
pandas
geopandas
-e git+git+https://github.com/fmaussion/salem.git
-e git+https://github.com/OGGM/oggm.git
matplotlib
pyproj
netCDF4
pytest.cov
scipy
paramiko
joblib
six
Pillow
netCDF4
shapely
rasterio
configobj
xarray
schedule
dateutil
scikit-learn
folium
branca
mpld3
pysolar
numba